body{
  font-family: sans-serif;
  font-size:110%;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background-color: #EE2F7C;
  justify-content: center;
  padding: 2rem;
}

#bg {
  background-image: url(https://wallpaper.dog/large/20512965.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.styling {
  color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: row;
  overflow: unset;
}

#profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid whitesmoke
}

#sidebar {
width: 20%;
background-color: black;
padding: 1rem;
color: black;

}

nav {
  width: fit-content;
  text-align: left;
  background-color: black;
}

.navList {
list-style-type: none;
padding: 0%
}

#contents {
  margin: 2rem;
  color: whitesmoke;
}

#education {
background: whitesmoke;
color: #000;

}

#experience {
  background: whitesmoke;
  color: #000;
}

#skills {
  background: whitesmoke;
  color: #000;
}

.icons {
  margin: 1px;
}

#gmail {
  width: 100px;
}

#linkedin {
  border-radius: 50%;
  width: 60px;
}

footer {
  background-color: #B8B8F3;
  text-align: center;
}