body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: #a86a6a;
}

nav {
  text-align: left;
  background-color: #a86a6a;
}

footer {
  background-color: #a86a6a;
  text-align: center;
}
